<html>
<head>
<link rel="stylesheet" href="../../../style.css">
<link rel="stylesheet" href="../../../userstyle.css">
<script type="text/javascript" language="JavaScript" src="../../../js/browser.js"></script>
</head>
<body class="group">
<div class="message">
    <img src='../../../img/component.png' />
    <h2>CommissionData</h2>
    <h3>The CommissionDate component block is used to carry commission information such as the type of commission and the rate.<br/></h3>
    <table class="groupTable">
        <tr>
            <th width="75">Tag</th>
            <th width="200">Name</th>
            <th>Req'd</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/commission.html', 1)">12</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/commission.html', 1)">Commission</a></td>
            <td>N</td>
            <td>Commission of exchange, ECN or system.<br/></td>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/commcurrency.html', 1)">479</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/commcurrency.html', 1)">CommCurrency</a></td>
            <td>N</td>
            <td>Specifies currency to be use for Commission (12) if the Commission currency is different from the Deal Currency - see &quot;Appendix 6-A; Valid Currency Codes&quot;.<br/></td>
        </tr>
    </table><h4>Used in Messages:</h4>
<a href="javascript:void(0);" onClick="loadMessage('../messages/executionreport_no-last-look.html', 1);">[ExecutionReport - no-last-look]</a>&nbsp; 
<a href="javascript:void(0);" onClick="loadMessage('../messages/executionreport_lastlook.html', 1);">[ExecutionReport - lastLook]</a>&nbsp; 
<a href="javascript:void(0);" onClick="loadMessage('../messages/executionreport.html', 1);">[ExecutionReport]</a>&nbsp; 
<h4>Used in Components:</h4>
</div>
</body>
</html>