<html>
<head>
<link rel="stylesheet" href="../../../style.css">
<link rel="stylesheet" href="../../../userstyle.css">
<script type="text/javascript" language="JavaScript" src="../../../js/browser.js"></script>
</head>
<body class="group">
<div class="message">
    <img src='../../../img/component.png' />
    <h2>LinesOfTextGrp</h2>
    <h3></h3>
    <table class="groupTable">
        <tr>
            <th width="75">Tag</th>
            <th width="200">Name</th>
            <th>Req'd</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/nolinesoftext.html', 1)">33</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/nolinesoftext.html', 1)">NoLinesOfText</a></td>
            <td>Y</td>
            <td>Specifies the number of repeating lines of text specified<br/></td>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/text.html', 1)">58</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/text.html', 1)">Text</a></td>
            <td>Y</td>
            <td>Free format text string<br/>Can be used to elaborate on the reject reason<br/></td>
        </tr>
    </table><h4>Used in Messages:</h4>
<h4>Used in Components:</h4>
</div>
</body>
</html>