<html>
<head>
<link rel="stylesheet" href="../../../style.css">
<link rel="stylesheet" href="../../../userstyle.css">
<script type="text/javascript" language="JavaScript" src="../../../js/browser.js"></script>
</head>
<body class="group">
<div class="message">
    <img src='../../../img/component.png' />
    <h2>PositionQty</h2>
    <h3>The PositionQty component block specifies the various types of position quantity in the position life-cycle including start-of-day, intraday, trade, adjustments, and end-of-day position quantities. Quantities are expressed in terms of long and short quantities.<br/></h3>
    <table class="groupTable">
        <tr>
            <th width="75">Tag</th>
            <th width="200">Name</th>
            <th>Req'd</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/nopositions.html', 1)">702</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/nopositions.html', 1)">NoPositions</a></td>
            <td>N</td>
            <td></td>
        </tr>
    </table><h4>Used in Messages:</h4>
<h4>Used in Components:</h4>
</div>
</body>
</html>