<html>
<head>
<link rel="stylesheet" href="../../../style.css">
<link rel="stylesheet" href="../../../userstyle.css">
<script type="text/javascript" language="JavaScript" src="../../../js/browser.js"></script>
</head>
<body class="group">
<div class="message">
    <img src='../../../img/component.png' />
    <h2>PtysSubGrp</h2>
    <h3></h3>
    <table class="groupTable">
        <tr>
            <th width="75">Tag</th>
            <th width="200">Name</th>
            <th>Req'd</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/nopartysubids.html', 1)">802</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/nopartysubids.html', 1)">NoPartySubIDs</a></td>
            <td>N</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/partysubid.html', 1)">523</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/partysubid.html', 1)">PartySubID</a></td>
            <td>N</td>
            <td>Sub-identifier (e.g. Clearing Account for PartyRole (452)=Clearing Firm, Locate ID # for PartyRole=Locate/Lending Firm, etc). Not required when using PartyID (448), PartyIDSource (447), and PartyRole.<br/></td>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/partysubidtype.html', 1)">803</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/partysubidtype.html', 1)">PartySubIDType</a></td>
            <td>N</td>
            <td>Type of PartySubID (523) value<br/>4000+ = Reserved and available for bi-laterally agreed upon user defined values<br/></td>
        </tr>
    </table><h4>Used in Messages:</h4>
<h4>Used in Components:</h4>
<a href="javascript:void(0);" onClick="loadComponent('../components/parties.html', 1);">[Parties]</a>&nbsp; 
</div>
</body>
</html>