<html>
<head>
<link rel="stylesheet" href="../../../style.css">
<link rel="stylesheet" href="../../../userstyle.css">
<script type="text/javascript" language="JavaScript" src="../../../js/browser.js"></script>
</head>
<body class="group">
<div class="message">
    <img src='../../../img/component.png' />
    <h2>QuotQualGrp</h2>
    <h3></h3>
    <table class="groupTable">
        <tr>
            <th width="75">Tag</th>
            <th width="200">Name</th>
            <th>Req'd</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/noquotequalifiers.html', 1)">735</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/noquotequalifiers.html', 1)">NoQuoteQualifiers</a></td>
            <td>N</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/quotequalifier.html', 1)">695</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/quotequalifier.html', 1)">QuoteQualifier</a></td>
            <td>N</td>
            <td>Code to qualify Quote use<br/>See IOIQualifier (104) for description and valid values.<br/></td>
        </tr>
    </table><h4>Used in Messages:</h4>
<a href="javascript:void(0);" onClick="loadMessage('../messages/quote.html', 1);">[Quote]</a>&nbsp; 
<h4>Used in Components:</h4>
<a href="javascript:void(0);" onClick="loadComponent('../components/quotreqgrp.html', 1);">[QuotReqGrp]</a>&nbsp; 
</div>
</body>
</html>