<html>
<head>
<link rel="stylesheet" href="../../../style.css">
<link rel="stylesheet" href="../../../userstyle.css">
<script type="text/javascript" language="JavaScript" src="../../../js/browser.js"></script>
</head>
<body class="group">
<div class="message">
    <img src='../../../img/component.png' />
    <h2>TrdSessLstGrp</h2>
    <h3></h3>
    <table class="groupTable">
        <tr>
            <th width="75">Tag</th>
            <th width="200">Name</th>
            <th>Req'd</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/notradingsessions.html', 1)">386</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/notradingsessions.html', 1)">NoTradingSessions</a></td>
            <td>Y</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/tradingsessionid.html', 1)">336</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/tradingsessionid.html', 1)">TradingSessionID</a></td>
            <td>Y</td>
            <td>Identifier for Trading Session<br/>A trading session spans an extended period of time that can also be expressed informally in terms of the trading day. Usage is determined by market or counterparties.<br/>To specify good for session where session spans more than one calendar day, use TimeInForce = Day in conjunction with TradingSessionID.<br/>Bilaterally agreed values of data type &quot;String&quot; that start with a character can be used for backward compatibility.<br/></td>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/tradsesstatus.html', 1)">340</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/tradsesstatus.html', 1)">TradSesStatus</a></td>
            <td>Y</td>
            <td>State of the trading session.<br/></td>
        </tr>
    </table><h4>Used in Messages:</h4>
<h4>Used in Components:</h4>
</div>
</body>
</html>