<html>
<head>
<link rel="stylesheet" href="../../../style.css">
<link rel="stylesheet" href="../../../userstyle.css">
<script type="text/javascript" language="JavaScript" src="../../../js/browser.js"></script>
</head>
<body class="group">
<div class="message">
    <img src='../../../img/component.png' />
    <h2>UndSecAltIDGrp</h2>
    <h3></h3>
    <table class="groupTable">
        <tr>
            <th width="75">Tag</th>
            <th width="200">Name</th>
            <th>Req'd</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/nounderlyingsecurityaltid.html', 1)">457</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/nounderlyingsecurityaltid.html', 1)">NoUnderlyingSecurityAltID</a></td>
            <td>N</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/underlyingsecurityaltid.html', 1)">458</a></td>
            <td><a href="javascript:void(0);" onClick="loadField('../fields/underlyingsecurityaltid.html', 1)">UnderlyingSecurityAltID</a></td>
            <td>N</td>
            <td>Alternate Security identifier value for this underlying security of UnderlyingSecurityAltIDSource (459) type (e.g. CUSIP, SEDOL, ISIN, etc). Requires UnderlyingSecurityAltIDSource.<br/></td>
        </tr>
    </table><h4>Used in Messages:</h4>
<h4>Used in Components:</h4>
<a href="javascript:void(0);" onClick="loadComponent('../components/underlyinginstrument.html', 1);">[UnderlyingInstrument]</a>&nbsp; 
</div>
</body>
</html>